.comp{
    text-align: center;
    margin-top: 75px;
}
.logo{
    
   margin-top: 30px;
}
.a{
    width: 10%;
}
.b{
    width: 10%;
}
.c{
    width: 10%;
}
.d{
    width: 10%;
}
.e{
    width: 15%;
}
.f{
    width: 10%;
}
